{% extends 'base.html' %}
{% load static %}

{% block title %} Wavare - About {% endblock %} 
{% block description %} About Wavare {% endblock %} 

{% block content %}

{% include "home/header.html" %} 

<div class="content">
    <div class="imagesidebar">

    </div>
    <div class="aboutcard">
        <h3>About Wavaré</h3>
        <p>Wavaré is an app created by Brandon Pirrocco that gives you realtime forecasts for 
           the biggest waves at some of Portugal's most famous beaches. 
           Wavaré is inspired by Brandon's Portuguese heritage and love for the beauty 
           of the Silver Coast. The app even draws the inspiration for its name from the home 
           of the biggest waves in the world, Nazaré. Brandon's mother used to visit the once 
           quaint fishing village when she was a child growing up in Portugal, and he strives
           to bring a piece of that world to Wavaré's users.
        </p>
    </div>
</div>