{% extends "base.html" %} 
{% load static %} 
{% load index %}

{% block title %} Wavare - {{ forecast.location }} {% endblock %} 
{% block description %} {{ forecast.location }}'s Biggest Waves {% endblock %} 

{% block content %} 

{% include "home/header.html" %}

<div class="content detail">
    <div class="h1box">
        <h1>{{ forecast.location }}</h1>
    </div>
    <div class="imgboxmed">
        <img src="{% static 'home/wave-icon3.webp' %}" alt="Wave Icon" class="mainicon">
    </div>
    <div class="scrollable">
        
        {% if hourly %}

        {% include "home/hourly_forecast.html" %}

        {% endif %}

        {% if daily %}

        {% include "home/daily_forecast.html" %}

        {% endif %}

        
    </div><!-- scrollable -->
</div><!-- content detail -->

{% include "home/footer.html" %}

{% endblock %}