{% load index %}

<div class="cardbox">
    {% for data in data_list %}
        <div class="card">
            <a href="#0">
                <h2>{{ data }}m</h2>
            </a>
            <p>
                <!-- {% for time in time_list %} {{ time }} {% endfor %}  -->
                {{ time_list|(forloop.counter0) }}
                <!-- <br>  -->
                <!-- {% for date in date_list %} {{ date }}{% endfor %} -->
                <!-- {{ date_list|index:idx }} -->
            </p>
        </div>
    {% endfor %}               
</div>