{% extends 'base.html' %}
{% load static %}

{% block title %} Wavare - Locations {% endblock %} 
{% block description %} Location Info and Forecast Options {% endblock %} 

{% block content %}

{% include "home/header.html" %} 
{% load static %}

<div class="content">
    <div class="cardleft">
        <h2> {{ location.0 }}</h2>
        <!-- <label for="forecast">Forecast: </label> -->
        <select name="nazare" id="nazare">
            <option value="today">Today</option>
            <option value="hourly">Hourly</option>
            <option value="daily">Daily</option>
        </select>
        <button type="button" id="nazbutton">Submit</button>
        <!-- <form action="GET">
            {{ form }}
            <button type="submit">Submit</button>
        </form> -->
    </div>

    <h1>{{ params }}</h1>
</div>

<script src="{% static 'home/script.js' %}"></script>


{% include "home/footer.html" %}

{% endblock %}