{% extends 'base.html' %}
{% load static %}

{% block title %} Wavare - Locations {% endblock %} 
{% block description %} Location Info and Forecast Options {% endblock %} 

{% block content %}

{% include "home/header.html" %} 
{% load static %}

<div class="content">
    {% for location in location %}
    <div class="locationcard">
        <h2> {{ location.location }} </h2>
        <select name="{{ location.location }}" id="{{ location.location }}">
            <option value="today">Today</option>
            <option value="hourly">Hourly</option>
            <option value="daily">Daily</option>
        </select>
        <button type="button" id="{{ location.location }}button">Submit</button>
    </div>
    {% endfor %}
</div>

<script src="{% static 'home/script.js' %}"></script>


{% include "home/footer.html" %}

{% endblock %}