{% extends 'base.html' %}
{% load static %}

{% block title %} Wavare - Locations {% endblock %} 
{% block description %} Location Info and Forecast Options {% endblock %} 

{% block content %}

{% include "home/header.html" %} 

<div class="content">
    <div class="cardleft">
        <h2> {{ location.0 }}</h2>
        <!-- <label for="forecast">Forecast: </label> -->
        <form action="get">{{ form }}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>


{% include "home/footer.html" %}

{% endblock %}